<h1> Demo cliente http    </h1>
<hr>
<h2>Listado de camareros</h2>
<ul>
    <li *ngFor="let camarero of camareros">
        {{camarero.codigo}}  {{camarero.nombre}}
    </li>
</ul>
<hr>
<h2>Listado de clientes</h2>
<ul>
    <li *ngFor="let cliente of clientes">
       <h3> {{cliente.codigo}}  {{cliente.nombre}}</h3>
        <ul>
            <li *ngFor="let contacto of cliente.contactos">
                {{contacto.nombre}} {{contacto.telefono}}
            </li>
        </ul>
    </li>
</ul>
<h2>Listado de productos</h2>
<ul>
    <li *ngFor="let producto of productos">
        <p>{{producto.codigo}}  {{producto.nombre}}</p>    
    </li>
</ul>
    